<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <div class="container-fluid d-flex justify-content-center align-items-center"
        style="height: 100vh; background-color: aqua;">
        <div class="container card w-100" style="height: 90%;">
            <div class="card-header text-center mt-2">
                File Management
            </div>
            <div class="row card-body">
                <div class="col">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="row w-75">
                            <form action="/api/upload" method="post" enctype="multipart/form-data">
                                <div class="col">
                                    <input class="form-control" type="file" id="formFile" name="uploaded_file">
                                    <label for="formFile" class="form-label" style="font-size: 12px;">*hanya
                                        .txt</label>
                                </div>

                                <div class="col mt-3">
                                    <button type="submit" class="btn btn-primary w-100">Upload</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h5>FILE LIST</h5>
                    <div style="height: 90%;">
                        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">File Name</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% data.forEach(function(items, index){ %>
                                        <tr>
                                            <th scope="row">
                                                <%= index + 1%>
                                            </th>
                                            <td style="min-width: 190px; max-width: 200px; ">
                                                <%= items %>
                                            </td>
                                            <td style="max-width: 150px;">

                                                <button type="button" class="btn btn-danger"
                                                    style="font-size: 10px;">Delete</button>
                                                <button type="button" class="btn btn-primary"
                                                    style="font-size: 10px;">Edit</button>
                                                <button type="button" class="btn btn-primary"
                                                    style="font-size: 10px;">Download</button>

                                            </td>
                                        </tr>
                                        <% });%>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>

</html>